
{{movie.title}}
<ng-container>
  <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
    <button
      (click)="editMovie()"
      class='w-auto bg-gray-500 hover:bg-gray-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>
      Edit
    </button>
    <button type="submit"
            (click)="deleteMovie()"
            class='w-auto bg-purple-500 hover:bg-purple-700 rounded-lg shadow-xl font-medium text-white px-4 py-2'>
      Delete
    </button>
  </div>
</ng-container>
